.unitInfoContainer {
  font-family: sans-serif;

  .unitInfo {
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 5px 6px #00000046;

    h2 {
      margin-left: 3%;
    }
    .signingChoice {
      margin-right: 3%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      width: 25%;

      .attendance {
        display: flex;
        flex-direction: column;
      }

      @media screen and (max-width: 660px) {
        width: 60%;
      }
    }
  }

  .isOpenContainer {
    margin-left: 3%;
    width: 75%;
  }
}

.container {
  background-color: #3e92cf;
  height: 100%;
  width: 100%;
  margin-left: 0%;


  ul {
    margin: auto;
    margin-right: 7%;
  }
}

