.container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .formContainer {
    width: 33%;

    ::ng-deep .p-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .formItem {
      margin: 15px auto;
    }

    .error {
      text-align: center;
      font-size: 16px;
      color: red;
    }

    
  @media screen and (max-width: 660px) {
    width: 90%;
  }
  }

  @media screen and (max-width: 660px) {
    
  }
}
