.signing-page {
  height: calc(100vh - 80px);

  & h1 {
    text-align: center;
    padding: 20px;
    margin-top: 0;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: uppercase;
  }
}

.signing-container {
  display: flex;
  margin: auto;
  justify-content: center;

  canvas {
    display: block;
    cursor: crosshair;
    border: 5px solid #fe8d50;
    background-color: white;
    background-image: url("../../assets/png/dots-background.png");
  }
}

.p-buttonset {
  display: flex;
  justify-content: center;
  margin-top: 3%;

  & button {
    background-color: #fe8d50;
    border: none;
  }
}
